* {
    margin: 0;
    padding: 0;
}

.window {
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}

.images {
    position: relative;
}

.images > img {
    position: absolute;
    transition: all 0.3s;
}

.images > img:nth-child(1) {
    top: 0;
    left: 0;
}
.images > img:nth-child(2) {
    top: 0;
    left: 100%;
}
.images > img:nth-child(3) {
    top: 0;
    left: 100%;
}
.images > img.right{
    top: 0;
    left: 100%;
}