* {
    margin: 0;
    padding: 0;
}
* { box-sizing: border-box; }

.window {
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}

.images {
    position: relative;
}

.images > img {
    position: absolute;
    top: 0;
    width: 100%;
    transition: all 0.3s;
}

/* 当前状态：在中间 */
.images > img.current {
    left: 0;
    transform: translateX(0);
    z-index: 1;
}
/* 进入状态：在右边 */
.images > img.enter {
    transform: translateX(100%);
}
/* 离开状态：在左边 */
.images > img.leave {
    transform: translateX(-100%);
    /* z-index: 1; */
}